name: Build and Push Images

on:
  push:
    branches:
      - main
  release:
    types: [published]

jobs:
  docker-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: dropletbot
          password: ${{ secrets.botDockerHubPassword }}

      - name: Set Versions
        uses: actions/github-script@v6
        id: set_version
        with:
          script: |
            const tag = context.ref
            const no_v_tag = tag.replace('v', '')
            core.setOutput('tag', tag)
            core.setOutput('no_v_tag', no_v_tag)

      - name: Build and push (latest)
        if: github.event_name == 'push'
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: instill/connector-backend:latest
          cache-from: type=registry,ref=instill/connector-backend:buildcache
          cache-to: type=registry,ref=instill/connector-backend:buildcache,mode=max

      - name: Build and push (release)
        if: github.event_name == 'release'
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: instill/connector-backend:${{steps.set_version.outputs.no_v_tag}}
          cache-from: type=registry,ref=instill/connector-backend:buildcache
          cache-to: type=registry,ref=instill/connector-backend:buildcache,mode=max
